* {
    font-family: 'Afacad Flux';
}

/* title-bar */
.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    /* row-gap: 10px; */
}

.title {
    font-size: 24px;
    text-align: center;
    flex: 1;
    /* margin: 0%; */
}

.title a {
    text-decoration: none;
    color: black;
}

.sub-title {
    font-size: 16px;
    margin-top: 5px;
}

img {
    /* border-style: solid; */
    width: 95px;
    height: 95px;
    object-fit: cover;
}


@media (max-width:750px) {
    .title {
        font-size: 14px;
    }

    .sub-title {
        font-size: 11px;
    }

    img {
        width: 60px;
        height: 60px;
    }
}

/* --------------------------------------------- */
/* nav bar */
.navbar {
    display: block;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: stickywwwwwwwww;
}

.navbar button {
    background-color: white;
    text-decoration: none;
    font-size: large;
    color: black;
    /* Default color for links */
    padding: 10px 15px;
    /*Add padding to make it button-like*/
    border: solid transparent;
    /* For a better hover effect */
    transition: background-color 0.3s, border-color 0.3s;
    /* Smooth transition */
}

.navbar ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 0%;
}

.navbar ul li {
    list-style: none;
    display: block;
    padding: 5px 0px 5px;;
    position: relative;
}


/* this is dropdown list*/
.navbar ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    opacity: 200%;
    padding: 0;
    width: 100%;
    z-index: 10;
}
.navbar ul li ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: gray;
    /* Lighter shade on hover */
}


.navbar ul :hover ul {
    display: block;
}

/* .dropdown-nav {
    position: relative;
    display: inline;
}

.dropdown-nav div {
    display: none;
    position: absolute;
}

.dropdown-nav div a {
    display: block;
    text-decoration: none;
}

.dropdown-nav:hover div {
    display: block;
} */

li>button:hover {
    background-color: rgb(151, 150, 150);

}

@media (max-width:763px) {
    .navbar {
        display: none;
    }

}
/* ------------------------------------------------------- */
/* Slide-show segment */
.Slideshow {
    position: relative;
    border: solid black;
    border-radius: 2%;
    border-width: 2px;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.prewarrow,
.nextarrow {
    position: absolute;
    top: 50%;
    width: auto;
    background-color:black;
    color: white;
    border-radius: 25%;
    cursor: pointer;
    margin-left: 15px;
    opacity: 50%;
    font-size: larger;
}
.nextarrow{
    margin-right:  15px;
    right: 0;
    size: 5px;
}


.photos img {
    /* display: none; */
    width: 100%;
    height: fit-content;
    object-fit: cover;

}

@media (max-width:763px) {
    .Slideshow {
        min-height: 250px;
    }
}